<div>
  <p>У Вас есть уникальная возможность заглянуть за покров тайны и узнать,
    что ожидает Вас в ближайшее время!</p>
  <p>Сосредоточьтесь на своем желании узнать грядущее. Затем введите любое число
    из диапазона доступных или положитесь на случайный выбор.</p>
</div>